# This file includes environment variables that will be committed to git by default.

# Built-in environment variables
TEAMSFX_ENV=dev
APP_NAME_SUFFIX=dev

# Chatter bot
CHATTER_BOT_URL=
CHATTER_BOT_TENANT=